
.addBookModal, .editBookModal, .deleteBookModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.addBookModal-content, .editBookModal-content, .deleteBookModal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    border-radius: 15px;
}

.close-button-add, .close-button-edit, .close-button-delete{
    color: #810b0b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close-button-add:hover,
.close-button-add:focus,
.close-button-edit:hover,
.close-button-edit:focus,
.close-button-delete:hover,
.close-button-delete:focus  {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.container{
    padding: 16px;
    text-align: center;
    width: 80%;
    margin: auto;
    overflow: scroll;
}

input[type="text"]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus{
    background-color: #ddd;
    outline: none;
}

.submitbtn, .submitbtn2,.submitbtn3{
    font-size: 16px;
    border-radius: 15px;
    background-color: #810b0b;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.submitbtn:hover, .submitbtn2:hover, .submitbtn3:hover{
    opacity: 1;
}

