body {
  background-color: rgba(197, 183, 61, 0.5);
  padding-bottom: 3%;
  overflow-x: hidden;
}
.container#editProfileContainer {
  background: #fff;
  width: 50%;
  height: 475px;
  margin: 0 auto;
  padding-bottom: 8%;
  position: relative;
  margin-top: 5%;
  box-shadow: 2px 5px 20px;
  background-color: rgba(119, 119, 119, 0.5);
}
.leftbox {
  float: left;
  width: 15%;
  padding: 5% 2% 7%;
  height: 100%;
  position: center;
  background: #2ed573;
  box-shadow: 3px 3px 10px;
  background-color: rgba(119, 119, 119, 0.5);
  border: 0.1em solid #fff;
}
nav a#editProfileNav {
  list-style: none;
  padding-top: 30%;
  padding-left: 12%;
  padding-bottom: 30%;
  color: #fff;
  font-size: 1.1em;
  display: block;
  transition: all 0.1s ease-in-out;
}
nav a:hover#editProfileNav {
  color: #10ac84;
  cursor: pointer;
  transform: scale(1.2);
}
nav a:first-child#editProfileNav {
  margin-top: 7px;
}
nav a.active#editProfileNav {
  color: #10ac84;
}
.rightbox {
  width: 60%;
  margin-left: 27%;
  padding-top: 5px;
}
.tab {
  transition: all.5s ease-in;
  width: 80%;
}
h1 {
  color: #000000;
  font-size: 1.2rem;
  margin-top: 40ox;
  margin-bottom: 35px;
}
h2 {
  color: #777;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 10px;
}
.input,
p {
  border: 0;
  border-bottom: 1px solid #3fb6a8;
  width: 80%;
  font-size: 0.7em;
  padding: 7px 0;
  color: #070707;
  outline: none;
}
span {
  font-size: 0.7em;
  color: #777;
}
.btn {
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  color: #fff;
  background: #7ed385;
  padding: 7px 15px;
  box-shadow: 0px 2px 4px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 15px;
}
.tabShow {
  display: none;
}
