* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:black;
  list-style-type: none;
}

.header
{
  border: 1px solid green;
  position: relative;
  width: 100%;
}

.logo {
  position:relative;
  float:left;
  width:35%;
  flex-wrap: wrap;
  font-size:1.5rem;
    border: 1px solid yellow;
height: 155px; 
}

.nav-bar {
  border: 1px solid yellow;
  margin: auto;
  width:60%;
  height:50%;
  position:relative;
  float:right;
  top:50%;
  letter-spacing: 0.05rem;
  flex-wrap: wrap;
}

nav ul li
{
    display: inline;
    padding:3%;
}

nav ul li ul {
  background-color:#f3f3f3;
  display: none;
  position:absolute;
  padding: 10px;
  font-size: 0.6rem;
  background-color: white;
  width: 15%;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
}

nav ul li:hover ul {
  display: block;
  overflow:visible;
}

nav ul li ul a:hover{
  background-color: #D1D1D1;
  text-decoration: none;
}

nav {
/*  border: 10px solid grey;*/
  height:20vh;
  overflow: visible;
  margin:  auto;
}

/* navigation ends here*/


a:hover
{
    text-decoration:underline #0E5A16;
}

hr
{
    position: relative;
    width: 50%;
    height:0.25%;
    top: 5%;
    background-color: #0E5A16;
    border-width:0;
}


.search-container {
  position: relative;
  text-align: center;
  margin-left:15%;
  margin-right:15%;
  border: 10px solid black;
  display: block;
}

.fa-filter {
  position:relative;
}


.search-text
{
    border: 4px solid yellow;
    position: relative;
    text-align: center;
  
    line-height: 2rem;
    color: #000000;
}

.search-input {
  /*border: 1px solid black;*/
  position:relative;
  top: 10px;
  width:30%;
  height:30px;
  text-align: center;
  border-radius:10px;
}

.search-bar
{
  position: relative;
    width:100%;
    height: 50%;
    text-align: center;
    border: 1px solid #AA0F0F;
}

.fa-filter {
  position:relative;
  top:13px;
}
.fa-caret-down {
  position:relative;
  top:13px;
}

.fa-caret-down ul {
  text-align: left;
  display:none;
  width: 100px;
  position:absolute;
  font-size:0.5rem;
  padding-left: 0px;
}
.fa-caret-down:hover ul {
  overflow:visible;
  display: inline-grid;
}

/*
 * EVERYTHING HAS BEEN OVERLOOKED UP UNTIL HERE!!
*/


.top-sellers
{
  border: 10px solid yellow;
    position:relative;
    width:85%;
    margin-left:7.5%;
    margin-right:7.5%;
    /*top:600px;
    left:100px;*/
}

.top-sellers-btn
{
    position:relative;
    left:85%;
    width:8%;
    font-size:0.8rem;
    background-color:#EAEBB9;
    border-radius: 15px;
}

.top-sellers ul 
{
  position:relative;
  display: flex;
  flex-wrap: wrap;
}
.top-sellers ul li
{
  padding:1%;
}


.featured-books
{
    position:relative;
    border: 10px solid white;
    width:85%;
    margin-left:7.5%;
    margin-right:7.5%;
}

.featured-books ul
{
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.featured-books ul li
{
  padding: 0.75%;
}

.featured-books-btn
{
  left:85%;
    width:8%;
    position:relative;
    font-size:0.8rem;
    background-color:#EAEBB9;
    border-radius: 15px;
}


.books-bar
{
    position: relative;
    overflow: auto;
    z-index: -1;
    background: rgba(197, 183, 61, 0.65);
    border-top: 6px solid #810B0B;
    box-sizing: border-box;
    width:100%;
}

.regModal
{
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.loginModal
{
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.regModal-content
{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius:15px;
}

.loginModal-content
{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius:15px;
}

.close-button-reg
{
  color: #810B0B;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button-login
{
  color: #810B0B;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button-login:hover,
.close-button-login:focus
{
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.close-button-reg:hover,
.close-button-reg:focus,
{
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.container
{
  padding: 16px;
  text-align: center;
  width:80%;
  margin: auto;
  overflow: scroll;
}

.login-container
{
   padding: 16px;
  text-align: center;
  width:80%;
  margin: auto;
  overflow: scroll;
}

input[type=text], input[type=password]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus
{
  background-color: #ddd;
  outline: none;
}

.registerbtn
{
  font-size: 16px;
  border-radius:15px;
  background-color: #810B0B;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover
{
  opacity:1;
}

.loginbtn
{
  font-size: 16px;
  border-radius:15px;
  background-color: #810B0B;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover
{
  opacity:1;
}
